## EXPIRES CACHING ##
Redirect 301 / http://wottactic.tk/
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 3 days"
ExpiresByType image/jpeg "access plus 3 days"
ExpiresDefault "access plus 1 month"
</IfModule>
## EXPIRES CACHING ##