.hots_heroes
{
	background-image:url(hots_heroes.png);
}

.hots_heroes-storm_ui_ingame_heroselect_btn_malfurion
{
	background-position:0 0;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_anubarak
{
	background-position:0 -50px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_arthas
{
	background-position:0 -100px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_azmodan
{
	background-position:0 -150px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_butcher
{
	background-position:0 -200px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_chen
{
	background-position:0 -250px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_dehaka
{
	background-position:0 -300px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_demonhunter
{
	background-position:0 -350px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_diablo
{
	background-position:0 -400px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_empty
{
	background-position:0 -450px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_etc
{
	background-position:0 -500px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_faeriedragon
{
	background-position:0 -550px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_femalebarbarian
{
	background-position:0 -600px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_gall
{
	background-position:0 -650px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_gazlowe
{
	background-position:0 -700px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_genngreymane
{
	background-position:0 -750px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_goblintinker
{
	background-position:0 -800px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_gryphon_rider
{
	background-position:0 -850px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_illidan
{
	background-position:0 -900px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_infestor
{
	background-position:0 -950px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_jaina
{
	background-position:0 -1000px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_johanna
{
	background-position:0 -1050px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_kaelthas
{
	background-position:0 -1100px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_kerrigan
{
	background-position:0 -1150px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_leoric
{
	background-position:0 -1200px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_lili
{
	background-position:0 -1250px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_lostvikings
{
	background-position:0 -1300px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_lunara
{
	background-position:0 -1350px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_artanis
{
	background-position:0 -1400px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_medic
{
	background-position:0 -1450px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_monk
{
	background-position:0 -1500px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_muradin
{
	background-position:0 -1550px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_murky
{
	background-position:0 -1600px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_necromancer
{
	background-position:0 -1650px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_nova
{
	background-position:0 -1700px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_raynor
{
	background-position:0 -1750px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_rehgar
{
	background-position:0 -1800px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_rexxar
{
	background-position:0 -1850px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_sgthammer
{
	background-position:0 -1900px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_stitches
{
	background-position:0 -1950px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_sylvanas
{
	background-position:0 -2000px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_tassadar
{
	background-position:0 -2050px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_thrall
{
	background-position:0 -2100px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_tracer
{
	background-position:0 -2150px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_tychus
{
	background-position:0 -2200px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_tyrael
{
	background-position:0 -2250px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_tyrande
{
	background-position:0 -2300px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_uther
{
	background-position:0 -2350px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_witchdoctor
{
	background-position:0 -2400px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_wizard
{
	background-position:0 -2450px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_zagara
{
	background-position:0 -2500px;
	width:50px;
	height:50px;
}

.hots_heroes-storm_ui_ingame_heroselect_btn_zeratul
{
	background-position:0 -2550px;
	width:50px;
	height:50px;
}

.hots_heroes-ui_targetportrait_hero_baelog
{
	background-position:0 -2600px;
	width:49px;
	height:50px;
}

.hots_heroes-ui_targetportrait_hero_erik
{
	background-position:0 -2650px;
	width:49px;
	height:50px;
}

.hots_heroes-ui_targetportrait_hero_misha
{
	background-position:0 -2700px;
	width:50px;
	height:50px;
}

.hots_heroes-ui_targetportrait_hero_murkysegg
{
	background-position:0 -2750px;
	width:50px;
	height:50px;
}

.hots_heroes-ui_targetportrait_hero_olaf
{
	background-position:0 -2800px;
	width:49px;
	height:50px;
}