.lol_spells
{
	background-image:url(lol_spells.jpg);
}

.lol_spells-spellButton4
{
	background-position:0 0;
	width:49px;
	height:50px;
}

.lol_spells-spellButton0
{
	background-position:0 -50px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton10
{
	background-position:0 -100px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton11
{
	background-position:0 -150px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton2
{
	background-position:0 -200px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton3
{
	background-position:0 -250px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton1
{
	background-position:0 -300px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton5
{
	background-position:0 -350px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton6
{
	background-position:0 -400px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton7
{
	background-position:0 -450px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton8
{
	background-position:0 -500px;
	width:49px;
	height:50px;
}

.lol_spells-spellButton9
{
	background-position:0 -550px;
	width:49px;
	height:50px;
}