.sc2_buildings_protoss
{
	background-image:url(sc2_buildings_protoss.png);
}

.sc2_buildings_protoss-btn-building-protoss-photoncannon
{
	background-position:0 0;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-assimilator
{
	background-position:0 -50px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-darkshrine
{
	background-position:0 -100px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-energycrystal
{
	background-position:0 -150px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-eyeofadun
{
	background-position:0 -200px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-fleetbeacon
{
	background-position:0 -250px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-forge
{
	background-position:0 -300px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-gateway
{
	background-position:0 -350px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-nexus
{
	background-position:0 -400px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-obelisk
{
	background-position:0 -450px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-phasecannon
{
	background-position:0 -500px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-cyberneticscore
{
	background-position:0 -550px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-pylon
{
	background-position:0 -600px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-roboticsfacility
{
	background-position:0 -650px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-roboticssupportbay
{
	background-position:0 -700px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-roboticswarpfacility
{
	background-position:0 -750px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-shieldbattery
{
	background-position:0 -800px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-solarforge
{
	background-position:0 -850px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-stargate
{
	background-position:0 -900px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-starwarpgate
{
	background-position:0 -950px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-templararchives
{
	background-position:0 -1000px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-twilightcouncil
{
	background-position:0 -1050px;
	width:50px;
	height:50px;
}

.sc2_buildings_protoss-btn-building-protoss-warpgate
{
	background-position:0 -1100px;
	width:50px;
	height:50px;
}