.sc2_units_terran
{
	background-image:url(sc2_units_terran.png);
}

.sc2_units_terran-btn-unit-terran-medicmercenary
{
	background-position:0 0;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-banshee
{
	background-position:0 -50px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-cerberus
{
	background-position:0 -100px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-cobra
{
	background-position:0 -150px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-cyclone
{
	background-position:0 -200px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-deathhead
{
	background-position:0 -250px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-diamondback
{
	background-position:0 -300px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-dom-grunt
{
	background-position:0 -350px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-dreadnought
{
	background-position:0 -400px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-dropship
{
	background-position:0 -450px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-firebat
{
	background-position:0 -500px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-ghost
{
	background-position:0 -550px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-goliath
{
	background-position:0 -600px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-gorgonbattlecruiser
{
	background-position:0 -650px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-griffon
{
	background-position:0 -700px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hellbatblackops
{
	background-position:0 -750px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hellion
{
	background-position:0 -800px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hellionbattlemode
{
	background-position:0 -850px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hellionblackops
{
	background-position:0 -900px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hellionmercenary
{
	background-position:0 -950px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-herc
{
	background-position:0 -1000px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hercules
{
	background-position:0 -1050px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hurcules
{
	background-position:0 -1100px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-hyperion
{
	background-position:0 -1150px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-jackal
{
	background-position:0 -1200px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-liberator
{
	background-position:0 -1250px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-marauder
{
	background-position:0 -1300px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-marauderblackops
{
	background-position:0 -1350px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-marine
{
	background-position:0 -1400px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-marineblackops
{
	background-position:0 -1450px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-medic
{
	background-position:0 -1500px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-medicelite
{
	background-position:0 -1550px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-battlecruiser
{
	background-position:0 -1600px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-medivac
{
	background-position:0 -1650px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-mule
{
	background-position:0 -1700px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-nomad
{
	background-position:0 -1750px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-outbackhunter
{
	background-position:0 -1800px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-perditionturret
{
	background-position:0 -1850px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-raven
{
	background-position:0 -1900px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-reaper
{
	background-position:0 -1950px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-reaperblackops
{
	background-position:0 -2000px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-reapermercenary
{
	background-position:0 -2050px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-sciencevessel
{
	background-position:0 -2100px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-scv
{
	background-position:0 -2150px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-shredder
{
	background-position:0 -2200px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-shredderirradiate
{
	background-position:0 -2250px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-siegetank
{
	background-position:0 -2300px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-siegetankblackops-sieged
{
	background-position:0 -2350px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-siegetankblackops-tank
{
	background-position:0 -2400px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-siegetanksiegemode
{
	background-position:0 -2450px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-tacfighter
{
	background-position:0 -2500px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-targetingdrone
{
	background-position:0 -2550px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-thor
{
	background-position:0 -2600px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-thorsiegemode
{
	background-position:0 -2650px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-valerianmengsk
{
	background-position:0 -2700px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-valkyrie
{
	background-position:0 -2750px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-viking
{
	background-position:0 -2800px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-vikingarchangel
{
	background-position:0 -2850px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-vikingassault
{
	background-position:0 -2900px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-vikingfighter
{
	background-position:0 -2950px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-vulture
{
	background-position:0 -3000px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-warhound
{
	background-position:0 -3050px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-widowmine
{
	background-position:0 -3100px;
	width:50px;
	height:50px;
}

.sc2_units_terran-btn-unit-terran-wraith
{
	background-position:0 -3150px;
	width:50px;
	height:50px;
}