.sc2_upgrades_zerg
{
	background-image:url(sc2_upgrades_zerg.png);
}

.sc2_upgrades_zerg-btn-upgrade-zerg-hotstunnelingclaws
{
	background-position:0 0;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-adaptivecarapace
{
	background-position:0 -50px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-adrenaloverload
{
	background-position:0 -100px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-airattacks-level0
{
	background-position:0 -150px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-airattacks-level1
{
	background-position:0 -200px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-airattacks-level2
{
	background-position:0 -250px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-airattacks-level3
{
	background-position:0 -300px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-anabolicsynthesis
{
	background-position:0 -350px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-ancillaryarmor
{
	background-position:0 -400px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-bileducts
{
	background-position:0 -450px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-buildingarmor
{
	background-position:0 -500px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-burrowcharge
{
	background-position:0 -550px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-burrowmove
{
	background-position:0 -600px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-centrifugalhooks
{
	background-position:0 -650px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-chitinousplating
{
	background-position:0 -700px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-corrosiveacid
{
	background-position:0 -750px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-demolition
{
	background-position:0 -800px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-enduringcorruption
{
	background-position:0 -850px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-evolveincreasedlocustlifetime
{
	background-position:0 -900px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-evolvemuscularaugments
{
	background-position:0 -950px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-explosiveglaive
{
	background-position:0 -1000px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-flyercarapace-level0
{
	background-position:0 -1050px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-flyercarapace-level1
{
	background-position:0 -1100px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-flyercarapace-level2
{
	background-position:0 -1150px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-flyercarapace-level3
{
	background-position:0 -1200px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-frenzy
{
	background-position:0 -1250px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-glialreconstitution
{
	background-position:0 -1300px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-groovedspines
{
	background-position:0 -1350px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-groundcarapace-level0
{
	background-position:0 -1400px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-groundcarapace-level1
{
	background-position:0 -1450px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-groundcarapace-level2
{
	background-position:0 -1500px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-groundcarapace-level3
{
	background-position:0 -1550px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-hardenedcarapace
{
	background-position:0 -1600px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-hotsgroovedspines
{
	background-position:0 -1650px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-hotsmetabolicboost
{
	background-position:0 -1700px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-adrenalglands
{
	background-position:0 -1750px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-hydriaticacid
{
	background-position:0 -1800px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-meleeattacks-leve3
{
	background-position:0 -1850px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-meleeattacks-level0
{
	background-position:0 -1900px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-meleeattacks-level1
{
	background-position:0 -1950px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-meleeattacks-level2
{
	background-position:0 -2000px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-meleeattacks-level3
{
	background-position:0 -2050px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-metabolicboost
{
	background-position:0 -2100px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-missileattacks-level0
{
	background-position:0 -2150px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-missileattacks-level1
{
	background-position:0 -2200px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-missileattacks-level2
{
	background-position:0 -2250px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-missileattacks-level3
{
	background-position:0 -2300px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-monarchblades
{
	background-position:0 -2350px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-muscularaugments
{
	background-position:0 -2400px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-organiccarapace
{
	background-position:0 -2450px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-pathogenglands
{
	background-position:0 -2500px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-peristalsis
{
	background-position:0 -2550px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-pneumatizedcarapace
{
	background-position:0 -2600px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-posthumousmitosis
{
	background-position:0 -2650px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-pressurizedglands
{
	background-position:0 -2700px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-rapidgenesis
{
	background-position:0 -2750px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-rapidincubation
{
	background-position:0 -2800px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-rapidregeneration
{
	background-position:0 -2850px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-regenerativebile
{
	background-position:0 -2900px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-rupture
{
	background-position:0 -2950px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-seismicspines
{
	background-position:0 -3000px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-swarmfrenzy
{
	background-position:0 -3050px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-swarmhostburrow
{
	background-position:0 -3100px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-tissueassimilation
{
	background-position:0 -3150px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-tunnelingclaws
{
	background-position:0 -3200px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-tunnelingjaws
{
	background-position:0 -3250px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-ventralsacs
{
	background-position:0 -3300px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-viciousglaive
{
	background-position:0 -3350px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zerg-visciousdischarge
{
	background-position:0 -3400px;
	width:50px;
	height:50px;
}

.sc2_upgrades_zerg-btn-upgrade-zergling-armorshredding
{
	background-position:0 -3450px;
	width:50px;
	height:50px;
}