.sc2_abilities_protoss
{
	background-image:url(sc2_abilities_protoss.png);
}

.sc2_abilities_protoss-btn-ability-protoss-phasedisruptor
{
	background-position:0 0;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-adept-spiritform
{
	background-position:0 -50px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-arcshield
{
	background-position:0 -100px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-astralwind
{
	background-position:0 -150px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-barrier-upgraded
{
	background-position:0 -200px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-beambounce
{
	background-position:0 -250px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-blackhole-color
{
	background-position:0 -300px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-blackhole-redcolor
{
	background-position:0 -350px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-blink-color
{
	background-position:0 -400px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-blinkcharges
{
	background-position:0 -450px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-blinkshieldrestore
{
	background-position:0 -500px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-carrierrepairdrones
{
	background-position:0 -550px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-charge-color
{
	background-position:0 -600px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-chargedblast
{
	background-position:0 -650px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-chronobeam
{
	background-position:0 -700px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-cliffwalk-color
{
	background-position:0 -750px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-cloakfield-color
{
	background-position:0 -800px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-confusion
{
	background-position:0 -850px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-deadlycharge
{
	background-position:0 -900px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-destructionwave
{
	background-position:0 -950px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-disintegration
{
	background-position:0 -1000px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-disruptionweb
{
	background-position:0 -1050px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-doubleshieldrecharge
{
	background-position:0 -1100px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-dragoonchassis
{
	background-position:0 -1150px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-dualgravitonbeam
{
	background-position:0 -1200px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-energize
{
	background-position:0 -1250px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-energizermobilemode
{
	background-position:0 -1300px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-energizerphasingmode
{
	background-position:0 -1350px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-entomb
{
	background-position:0 -1400px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-envision
{
	background-position:0 -1450px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-feedback-color
{
	background-position:0 -1500px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-firebeam
{
	background-position:0 -1550px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-forcefield-color
{
	background-position:0 -1600px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-forcefield-red
{
	background-position:0 -1650px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-forceofwill
{
	background-position:0 -1700px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-gravitonbeam-color
{
	background-position:0 -1750px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-hallucination-color
{
	background-position:0 -1800px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-hardenedshields-color
{
	background-position:0 -1850px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-invulnerabilityshield
{
	background-position:0 -1900px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-lightningdash
{
	background-position:0 -1950px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-massrecall
{
	background-position:0 -2000px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-mindblast
{
	background-position:0 -2050px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-mindcontrol
{
	background-position:0 -2100px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-oracle-stasiscalibration
{
	background-position:0 -2150px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-oracle-stasisward
{
	background-position:0 -2200px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-oraclepulsarcannonoff
{
	background-position:0 -2250px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-oraclepulsarcannonon
{
	background-position:0 -2300px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-permanentlycloaked-darktemplar-color
{
	background-position:0 -2350px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-permanentlycloaked-observer-color
{
	background-position:0 -2400px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-phasecannon
{
	background-position:0 -2450px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-amoncloud
{
	background-position:0 -2500px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-phaseshift2
{
	background-position:0 -2550px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-phasingarmor
{
	background-position:0 -2600px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-preordain
{
	background-position:0 -2650px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-prismaticbeam-color
{
	background-position:0 -2700px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-prismaticrange
{
	background-position:0 -2750px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-prodigalengineer
{
	background-position:0 -2800px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-protoncharge-color
{
	background-position:0 -2850px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-psionicorb
{
	background-position:0 -2900px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-psionictransfer
{
	background-position:0 -2950px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-psistorm-color
{
	background-position:0 -3000px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-purificationnova
{
	background-position:0 -3050px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-purifierstasis
{
	background-position:0 -3100px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-purifierstasisending
{
	background-position:0 -3150px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-purify
{
	background-position:0 -3200px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-recall
{
	background-position:0 -3250px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-recallondeath
{
	background-position:0 -3300px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-reclamation
{
	background-position:0 -3350px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-reconstruction
{
	background-position:0 -3400px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-replicate
{
	background-position:0 -3450px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-resurgence
{
	background-position:0 -3500px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-sacrifice
{
	background-position:0 -3550px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-scarabshot
{
	background-position:0 -3600px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-scattercannon
{
	background-position:0 -3650px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadow-charge
{
	background-position:0 -3700px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowblade
{
	background-position:0 -3750px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowcannon
{
	background-position:0 -3800px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowcharge
{
	background-position:0 -3850px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowdash
{
	background-position:0 -3900px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowdashvorazun
{
	background-position:0 -3950px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shadowfury
{
	background-position:0 -4000px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shieldbattery-color
{
	background-position:0 -4050px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shieldcapacitor
{
	background-position:0 -4100px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-shieldrecharge
{
	background-position:0 -4150px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-soulabsorbtion
{
	background-position:0 -4200px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-soulabsorption
{
	background-position:0 -4250px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-squadsight
{
	background-position:0 -4300px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-stasisfield
{
	background-position:0 -4350px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-stasistrap
{
	background-position:0 -4400px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-stealth-blink
{
	background-position:0 -4450px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-targetlock
{
	background-position:0 -4500px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-thermallance
{
	background-position:0 -4550px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-thunderouscharge
{
	background-position:0 -4600px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-timewarp
{
	background-position:0 -4650px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-veilofshadowsvorazun
{
	background-position:0 -4700px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-voidarmor
{
	background-position:0 -4750px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-voidrayprismaticalignment
{
	background-position:0 -4800px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-voidstasis
{
	background-position:0 -4850px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-whirlwind
{
	background-position:0 -4900px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-whirlwindfenix
{
	background-position:0 -4950px;
	width:50px;
	height:50px;
}

.sc2_abilities_protoss-btn-ability-protoss-wormholetransit-color
{
	background-position:0 -5000px;
	width:50px;
	height:50px;
}